html {
  cursor: auto;
}

body {
  overflow-y: scroll;
  margin: 20px;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
}

.menu-element {
  display: none;
}

.button {
  cursor: pointer;
}

.status-indicator {
  display: none;
}

#error {
  display: inline;
}

.result {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 1em;
    font-size: 15px;
}

/* general toggle rules */
.toggled-off > * > .fa-toggle-on {
    display: none;
}
.toggled-off > .fa-toggle-on {
    display: none;
}
.toggled-on > * > .fa-toggle-off {
    display: none;
}
.toggled-on > .fa-toggle-off {
    display: none;
}

/* edit button specific stuff */
.edit-button > * > .fa-lock {
    display: none;
}
.external-locked > * > .fa-lock.inner-small-label {
    display: inline-block;
}

.slider-container {
  display: table-cell;
  vertical-align: middle;
  height: 2em;
  max-width: 400px;
}

.stack {
  position: relative;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  vertical-align: middle;
}

.inner-label {
  font-size: 0.9em;
}

.inner-monitor-label {
  font-size: 0.5em;
  top: -0.15em;
  left: -0.05em;
}

.inner-small-label {
  font-size: 0.4em;
  left: -0.5em;
}

.outer-label {
  font-size: 1em;
}

.slider {
  vertical-align: middle;
}

